<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles1.css')}}">
    <title>Menu</title>
</head>
<body>
    <header>
        <div class="Logo">Salud Club</div>
        <div class="bars">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="medico.html">Medicos</a>
                </li>
                <li>
                    <a href="paciente.html">Expediente</a>
                </li>
                <li>
                    <a href="Citas.html">Citas</a>
                </li>
                <li>
                    <a href="Exploracion.html">Exploración</a>
                </li>
                <li>
                    <a href="Receta.html">Receta Medica</a>
                </li>
            </ul>
        </nav>
    </header>  
    <script src="script.js"></script>

</body>
</html>