<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilos.css')}}">
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="imagenes/medico.jpg">
        </div>
    <div class="form">
        <form action="/paciente" method="POST">
        <div class="form-header">
            <div class="title">
                <h1>Expediente</h1>
            </div>
            <div class="login-button">
                <button><a>Guardar</a></button>
            </div>    
        </div>

        <div class="input-group">
            
            <div class="input-box">
                <label for="lastname">Nombre del Paciente</label>
                <input id="lastname" type="text" name ="Nombrep" placeholder="Digite El Nombre del Paciente">
            </div>
            <div class="input-box">
                <label for="email">Apellido Paterno</label>
                <input id="email" type="text" name ="Apellidop" placeholder="Digite EL Apellido Paterno">
            </div>
            <div class="input-box">
                <label for="email">Apellido Materno</label>
                <input id="email" type="text" name ="Apellidom" placeholder="Digite EL Apellido Materno">
            </div>
            <div class="input-box">
                <label for="email">Fecha de Nacimiento</label>
                <input id="email" type="date" name ="fecha" placeholder="Digite la Fecha de Nacimiento">
            </div>
            <div class="input-box">
                <label for="email">Enfermedades</label>
                <input id="email" type="text" name ="EC" placeholder="Digite las enfermedades">
            </div>
            <div class="input-box">
                <label for="firtsname">Nombre del medico</label>
                <input id="firtsname" type="number" name ="Nombremedico" placeholder="Digite el nombre del medico">
            </div>

        </div>
        </form>  
        <div class="continue-button">
            <button> <a href="Bienvenida.html">ATRÁS</a></button>
        </div>   
    </div>
    </div>
</body>
</html>