<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='cursos.css')}}">
    <title>Index</title>
    
</head>
<body>

    {%with mensajes= get_flashed_messages() %}
    {%if mensajes%}
        {%for msj in mensajes%}
            <h3>{{ msj }}</h3>
        {%endfor%}
    {%endif%}
    {%endwith%}

    <header>
        <div class="logo">
            <span>YourSpace</span>
        </div>
        
        
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
        </ul>
    </nav>
    <main>
        <form action="/curso" method="POST"> 
            <div class="form-group">
                <label for="username">Nombre:</label>
                <input type="text" id="username" name="Nombre" placeholder="Nombre">
            </div><br>
            <div class="form-group">
                <label for="username">Materia:</label>
                <input type="text" id="username" name="Materia" placeholder="Materia">
            </div><br>
            <div class="form-group">
                <label for="username">Tema:</label>
                <input type="text" id="username" name="Tema" placeholder="Tema">
            </div><br>
            <div class="form-group">
                <label for="username">Descripción:</label>
                <input type="text" id="username" name="Descripcion" placeholder="Descripción">
            </div><br>
            <div class="form-group">
                <label for="password">Horario:</label>
                <input type="datetime" id="password" name="Horario" placeholder="fecha/hora">
            </div><br>
            <div class="form-group">
                <label for="password">Localización:</label>
                <input type="password" id="password" name="Localizacion" placeholder="Localización">
            </div><br>
            <button type="submit">Registrar</button><br><br>
        </form>
    </main>
</body>
</html>
