<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='registros.css')}}">
</head>

<body>
    {%with mensajes= get_flashed_messages() %}
        {%if mensajes%}
            {%for msj in mensajes%}
                <h3>{{ msj }}</h3>
            {%endfor%}
        {%endif%}
    {%endwith%}

    <div class="container">
        <h1 class="title">Registro</h1>
        <form action="/registro" method="POST"> 
            <div class="form-group">
                <label for="password">User:</label>
                <input type="password" id="password" name="usuario" placeholder="User">
            </div><br>
            <div class="form-group">
                <label for="username">Nombre:</label>
                <input type="text" id="username" name="Nombre" placeholder="Nombre">
            </div><br>
            <div class="form-group">
                <label for="password">Apellido Paterno:</label>
                <input type="password" id="password" name="password" placeholder="Apellido Paterno">
            </div><br>
            <div class="form-group">
                <label for="password">Apellido Materno:</label>
                <input type="password" id="password" name="password" placeholder="Apellido Materno">
            </div><br>
            <div class="form-group">
                <label for="password">Rol:</label>
                <input type="password" id="password" name="password" placeholder="Rol">
            </div><br>
            <button type="submit" class="btn-submit">Iniciar</button><br><br>
             
        </form>
    

    </div>

</body>


</html>