{% extends 'Plantilla.html' %}


{% block body%}
<body style="background-image: url('static/imagenes/Login.jpg'); background-size: cover; background-repeat: no-repeat;"></body>
<div class="mt-5 mb-5">
    <h1 class="display-0 text-center text-black">Expediente Medicos</h1>
</div>
<table class="table table-lihgt table-hover shadow border-1 mt-5 mb-5">
    <thead>
        <tr class="table-primary">
            <th>Nombre del Paciente</th>
            <th>Fecha de Nacimiento</th>
            <th>Nombre Medico</th>
            <th>Enfermedades Crónicas</th>
            <th>Alergias</th>
            <th>Antecedentes Familiares</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>graciela alvarez gonzalez</td>
            <td>55hhhhgf</td>
            <td>gfygffh5</td>
            <td>Medico General</td>
            <td>graciela@gmail.com</td>
            <td>156461gsgg</td>
            
        </tr>
    </tbody>
</table>
{% endblock %}