{% extends 'Plantilla.html' %}


{% block body%}
<body style="background-image: url('static/imagenes/Login.jpg'); background-size: cover; background-repeat: no-repeat;"></body>
<div class="mt-5 mb-5 py-4">
    <h1 class="display-0 text-center text-black">Expediente Medicos</h1>
</div>
<table class="table table-lihgt table-hover shadow border-1 mt-5 mb-5">
    <thead>
        <tr class="table-primary">
            <th>Nombre Completo Paciente</th>
            <th>Fecha de Nacimiento</th>
            <th>Enfermedades crónicas</th>
            <th>Alergias</th>
            <th>Antecedentes Familiares</th>
            <th>Editar/Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>graciela alvarez gonzalez</td>
            <td>13/11/01</td>
            <td>Ninguna</td>
            <td>Ninguna</td>
            <td>Ninguna</td>
            <td></td>

            </td>
        </tr>
    </tbody>
</table>
                
{% endblock %}