{% extends 'Plantilla.html' %}


{% block body%}
<body style="background-image: url('static/imagenes/Login.jpg'); background-size: cover; background-repeat: no-repeat;"></body>
<div class="mt-5 mb-5">
    <h1 class="display-0 text-center text-black">Dianostico</h1>
</div>
<div class="container text-center mt-5 ">
    <div class="row">
        <div class="col-15-sm-10 col-md-10 m-auto md-8">
            <div class="card border-1 shadow">
                <div class="card-body align-items-center">
                    <div class="row g-4">
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Ingrese el Dianostico">
                            <label for="floatingInputGrid">Diagostico</label>
                          </div>
                        </div> 
                    </div>
  
                    <div class="row g-4 py-4">
                        <div class="col-md">
                            <label for="exampleInputEmail1"> <h4>Tratamiento</h4></label>
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Ingrese los Medicamentos">
                            <label for="floatingInputGrid">Medicamentos</label>
                          </div>
                        </div> 
                    </div>
                    <div class="row g-4">
                        <div class="col-md">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGrid" placeholder="Ingrese las Indiaciones">
                            <label for="floatingInputGrid">Indicaciones</label>
                          </div>
                        </div> 
                    </div>
                    <div class="row g-2 py-2">
                        <button type="button" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary">Solicitar estudios</button>
                        <button type="button" class="btn btn-danger">Generar Receta</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>               
{% endblock %}