<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreria</title>
</head>
<body>
    <br>
    <br>
    <h1>Gestion de Flores</h1>
    <br>
    <br>
    {% with mensajes= get_flashed_messages() %}
    {% if mensajes %}
       {% for msj in mensajes %}
          <h3> {{msj}}</h3>
       {% endfor %}
    {% endif %}
    {% endwith %}

    <br>

    <form action="/guardar" method="POST">
        <label>Flor:</label>
        <input type ="text" name="Flor" placeholder="Escribe el nombre de la flor"><br>
        <label>Cantidad:</label>
        <input type ="number" name="Cantidad" placeholder="Escribe la cantidad"><br>
        <label>Precio:</label>
        <input type ="number" name="Precio" placeholder="Precio"><br>
       
        <button type="submit">Guardar</button>
 
        

    </form>

    <ul>
        <li>
            <a href="registros.html">Editar</a>
        </li>
        <li>
            <a href="consulta.html">Consulta</a>
        </li>

    </ul>
    
</body>
</html>